.display{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    background-color: gainsboro;
 
}

.display section{
    width: 500px;
    height:100%;
    min-height: 500px;

    border:1px solid gray;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
}

.display div,
.display span {
    text-align: center;
    color: white;
   
}

.display div{
    width: 100px;
    height: 100px;
    background-color: skyblue;
}

.releative{
    position: relative;
    top:20px;
    left: 20px;
}

.absolute{
    position: absolute;
    top:300px;
    left: 150px;
}

.sticky{
    position: sticky;
    top:20px;
    left:20px;
}

.fixed{
    position: fixed;
    top:600px;
}


.display span{
     background-color:  yellowgreen;
}
