.mobile-header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  visibility: visible;
}

.drawer {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);

  padding: var(--radius);
  transition: background-color 0.3s ease;
  z-index: 1000;
  cursor: pointer;
}

.drawer.true {
  background-color: transparent;
}

.drawer-btn {
  width: 20px;
  height: 20px;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  position: relative;

  border: 1px solid var(--color-brand-white);
  border-color: var(--color-brand-white);
  border-radius: var(--radius);

  color: var(--color-brand-white);
  background-color: rgba(var(--color-brand-black), 0);
  box-shadow: 0 4px 6px rgba(var(--color-brand-black), 0.1);

  padding: 10px;
  text-decoration: none;
  overflow: hidden;
  outline: none;
}

.drawer-btn.true {
  background-color: var(--de-green);
  border-color: var(--de-green);
}

.drawer-btn svg {
  transition: transform 0.3s ease-in-out;
}
.drawer-btn.true svg {
  transform: rotate(45deg);
}

.plus {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  color: var(--text-alternate);
}
