:root {
  --wrap-background: transparent;
  --padding: 1.3rem 0.7rem;
}

.input-wrap {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  background-color: var(--wrap-background);
  padding: var(--padding);
  font-size: 1.4rem;
  transition: all 0.3s ease;
  position: relative;
}

input {
  width: 100%;
  height: 100%;

  display: inline;
  border: none;
  outline: none;
  background-color: transparent;
}

.disabled {
  background-color: var(--color_disabled);
  color: var(--color_sub_disabled);

  cursor: not-allowed;
}

.primary {
  border: 1px solid var(--color_sub_theme);
}

.warn {
  border: 1px solid var(--color_warn);
}

.input ::placeholder {
  color: #bcbdbc;
}

.input:disabled {
  color: var(--color_sub_disabled);

  cursor: not-allowed;
}

.icon {
  width: 2rem;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: baseline;
}

.time {
  position: absolute;
  top: 1.3rem;
  right: 2rem;
  color: var(--color_theme);
  font-size: 1.2rem;
}

.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.message {
  position: absolute;
  top: 1rem;
  color: var(--color_warn);
  text-indent: 1rem;
  font-size: 1.2rem;
}
