:root {
  --wrap-border: #000000;
  --wrap-background: transparent;
  --padding: 1rem 0.5rem;
  --wrap-radius: 0.5rem;
  --font-size: 1.6rem;
  --placeholder-color: #bcbdbc;
  --focus-border: #4996ca;
  --disabled-border: #9e9e9e;
  --disabled-background: #9e9e9e;
}

input {
  width: 100%;
  display: inline;
  border: none;
  outline: none;
  padding: var(--padding);
  background-color: transparent;
}
input::placeholder {
  color: var(--placeholder-color);
}
input:-moz-placeholder {
  background-color: transparent !important;
}
input::-webkit-autofill {
  background-color: transparent !important;
}
input[autocomplete="on"] {
  background-color: transparent !important;
}
input:-webkit-autofill {
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
}

.input-wrap {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border: 1px solid var(--wrap-border);
  border-radius: var(--wrap-radius);
  background-color: var(--wrap-background);
  font-size: var(--font-size);
  transition: all 0.5s ease;
}

.input-wrap.fullWidth {
  width: 100%;
}
.input-wrap.focus {
  border: 1px solid var(--focus-border);
}

.input-wrap.disabled {
  border: 1px solid var(--disabled-border);
  background-color: var(--disabled-background);
}

.input-wrap :disabled {
  color: var(--color_sub_disabled);
  cursor: not-allowed;
}

.input-btn-wrap {
  display: flex;
  gap: 10px;
}
.input-close-btn {
  border: none;
  background-color: transparent;
}

.icon {
  width: 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.time {
  position: absolute;
  top: 1.3rem;
  right: 2rem;
  color: var(--color_theme);
  font-size: 1.2rem;
}

.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.message {
  position: absolute;
  top: 1rem;
  color: var(--color_warn);
  text-indent: 1rem;
  font-size: 1.2rem;
}
