.Logo-wrap {
  position: relative;
  z-index: 110;
}

.Logo {
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .Logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
