.drawer-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: var(--text-alternate);
  background: linear-gradient(
    135deg,
    #7b5334,
    var(--background-primary),
    #3f2618
  );
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

.drawer-wrap.true {
  opacity: 1;
  visibility: visible;
  overflow: hidden !important;
  -ms-overflow-style: none;
}

.drawer-wrap.true::-webkit-scrollbar {
  display: none;
}

.drawer-wrap {
  padding-top: calc(var(--header-height));
  padding-left: var(--padding);
  font-size: 40px;
}

.drawer-wrap a {
  display: block;
  color: var(--color-brand-white);
  text-decoration: none;
  margin: 10px 0;
  position: relative;
  overflow: hidden;
}
.drawer-wrap ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-brand-white);
  transition: width 1s ease;
}
.drawer-wrap ul li a:hover {
  font-weight: bold;
}

.drawer-wrap ul li a:hover::after {
  width: 100%;
}

.m-gnb-wrap {
  opacity: 0;
  visibility: hidden;
}

.m-gnb-wrap.true {
  width: 100vw;
  min-height: 100vh;
  opacity: 1;
  visibility: visible;
}
