:root {
  --font-size: 2.4rem;
  --text: #ffffff;
  --drawer-wrap-background: linear-gradient(135deg, #7b5334, #3f2618);
  --list-gap: 2rem;
  --padding-top: 5rem;
  --padding-left: 4rem;
}

.drawer-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: var(--text);
  background: var(--drawer-wrap-background);
  padding-top: var(--padding-top);
  padding-left: var(--padding-left);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}
.drawer-wrap.true {
  opacity: 1;
  visibility: visible;
  overflow: hidden !important;
  -ms-overflow-style: none;
}
.drawer-wrap.true::-webkit-scrollbar {
  display: none;
}
.drawer-wrap ul {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size);
  font-weight: bold;
  gap: var(--list-gap);
}
.drawer-wrap a {
  position: relative;
  overflow: hidden;
}
.drawer-wrap a ::first-letter {
  font-size: 2.1rem;
}
.drawer-wrap a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-brand-white);
  transition: width 1s ease;
}
.drawer-wrap a:hover::after {
  width: 100%;
}

.drawer-login {
  display: flex;
  position: relative;
  font-size: var(--font-size);
  padding-top: var(--padding-top);
  gap: var(--list-gap);
}
