:root {
  --font-size: 2rem;
  --color: var(--text-alternate);
  --background-color: linear-gradient(
    135deg,
    #7b5334,
    var(--background-primary),
    #3f2618
  );
}

.drawer-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 2rem;
  color: var(--text-alternate);
  background: linear-gradient(
    135deg,
    #7b5334,
    var(--background-primary),
    #3f2618
  );
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease, visibility 0.6s ease;
  padding-top: calc(var(--header-height));
  padding-left: var(--padding);
}

.drawer-wrap.true {
  opacity: 1;
  visibility: visible;
  overflow: hidden !important;
  -ms-overflow-style: none;
}

.drawer-wrap.true::-webkit-scrollbar {
  display: none;
}
.drawer-wrap ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.drawer-wrap a {
  color: var(--color-brand-white);
  text-decoration: none;
  margin: 10px 0;
  position: relative;
  overflow: hidden;
}

.drawer-wrap a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-brand-white);
  transition: width 1s ease;
}
.drawer-wrap a:hover {
  font-weight: bold;
}

.drawer-wrap a:hover::after {
  width: 100%;
}

.drawer-sign {
  position: relative;
  width: 100%;
  display: flex;
  gap: 30px;
}
