:root {
  --text: var(--text-alternate);
  --bacground: var(--de-green);
  --shadow: 0px 10px 20px rgba(var(--text-primary), 0.3),
    inset 0px 5px 15px rgba(var(--text-primary), 0.2);
}

#footer {
  position: sticky;
  bottom: 0;
  color: var(--text);
  background-color: var(--bacground);
  box-shadow: var(--shadow);
}

.footer-wrap {
  width: 100%;
  max-width: calc(100vw - var(--padding));
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 auto;
  padding: var(--padding) 0;
  gap: 10px;
}
