#footer {
  width: 100vw;
  display: flex;
  position: sticky;
  bottom: 0;
  background-color: var(--text-primary);
  background-color: var(--de-green);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3),
    inset 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.footer-wrap {
  width: 100%;
  max-width: calc(100vw - var(--padding));
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 auto;
}
.footer .sub-btn {
  font-size: clamp(24px, 2.5vw, 60px);
}
h2 {
  font-size: clamp(24px, 2.5vw, 60px);
  color: var(--text-alternate);
}
