#footer {
  display: flex;
  position: sticky;
  bottom: 0;
  color: var(--text-alternate);
  background-color: var(--de-green);
  box-shadow: 0px 10px 20px rgba(var(--text-primary), 0.3),
    inset 0px 5px 15px rgba(var(--text-primary), 0.2);
}

.footer-wrap {
  width: 100%;
  max-width: calc(100vw - var(--padding));
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 auto;
}

.sub-btn {
  font-size: clamp(30px, 2.5vw, 50px);
}
